@tailwind base;
@tailwind components;
@tailwind utilities;

/* DOCUMENTO GENERAL DE DISEÑO  */

/* ESTRUCTURA */
/* 
body
  div #root                    @ @ @ @   DIV GENERAL DE LA APP /index.html 
    div .Main                @ @ @     DIV GENERAL CONTENEDOR PARA TODAS LAS RUTAS, OBJ DIV MULTI-ROUTE /app.jsx 
      header                   @ @       DIV GENERAL PARA TODAS LAS RUTAS, OBJ DIV MULTI-ROUTE
        div .bxGenHome         +|+|+|+|+ DIV GENERAL DE CADA RUTA, UNI-ROUTE  
          div .bxCtxLocal         +|+|+|+
          div .trend           +|+|+|+
          div .bxNTall         +|+|+|+
            div .bxChismologia    +|+|+     
            div .bxNTvar       +|+|+
              div .NT          +|+
                div .bxNT      +
                  img .imgNT
                  div .tt
                  div .des
*/

.Main{     
  display: flex;
  /* width: 100%; */
  height: auto;
  /* padding: 0 16px 16px 16px; */
  /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
  background: #fafafa;
  
}
header{
  position: fixed;
  z-index: 9999;
  /* inset: 0 16px;
  pointer-events: none; */

  width: 100%; /*destruye todo lo aplicado anteriormente*/
  height: 64px;
  background: rgba(var(--b3f,250,250,250),1);
}
.rack{
  width: 100%;
  height: auto;
  margin-top: 64px;
  padding: 4px 16px;
}
/* *================================! */
.rackHome{
  width: 100%;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  gap: 8px 8px;
}
/* *================================! */
/* !================================! */
/*? dios.jsx */

.bxAtomStatus{
  background: purple;
  width: 320px;
  height: auto;
}

/* !================================! */
/*? home.jsx host.../home */

/* .portada{

} */

/* !================================! */
.main_content{
  display: flex;
  width: 70%;
  background: green;
  float: left;
  gap: 8px 8px;
  flex-wrap: wrap;
}


.trend{
  width: 100%;
  background: blue;
  float: left;
}
.temp1{
  width: 200px;
  height: 500px;
  background: red;
}

.random{       
  width: 100%;
  background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  float: left;
}
.randomCT{       
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  padding: 8px;
  width: 100%;
  height: auto;
  float: left;
}
.randomCT >div:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
}
/* !================================! */

.sidebar{
  width: 25%;
  height: 800px;
  background: red;
}

/* !================================! */
/* ?flash.jsx */

.flash{
  width: 100%;
  height: auto;
}
.flashCT{
  
  background-color: #FFFB7D;
}
.flashCT{
  width: 100%;
  height: 128px;
  
}
/* !================================! */
/* *BOX ESPECIAL */

/*? INI nt_1_0.jsx */

.nt{
  /* margin: 4px;   */
  background-color: rgb(255, 255, 255);   
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  float: left;
}
/* NTbx0 */
.NTbx0{
  width: 256px;
  height: 360px;
}
.NTtt{
  padding: 4px 8px 4px 8px;  
}
.NTtt h1{
  font-size: 20px;
  font-family: daily;
  letter-spacing: 0.5px;
  color: #34485E;
}
.NTimg{
  margin-top: 8px;
}
.NTdes{
  padding: 4px 8px 4px 8px;
}
.NTdes p{
  /* !cortar texto con ... en renglon especifico como tope*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-family: qat1;
  font-size: 1em;
  color: #00000080;
}
.NTimg img{  
  width: auto;
  max-height: 172px;
}



/* DISEÑO ADAPTATIVO PARA OTROS DISPOSITIVOS */
/* @media (max-width: 700px) { */
  @media (max-width: 512px) {

  .Main{
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  }  
  /*! INI ACCIONES PARA COMPONENTES  */
  

  .random{
    width: 100%;
    background: none;
  }
  .sidebar{
    width: 100%;
  }
  /*! FIN ACCIONES PARA COMPONENTES  */

  .bxNTvar{
    padding: 16px;
    align-items: center;
    flex-direction: column;/* direccion vertical de atomos en mobile */ 
  }
  .nt {
    width: 100%;    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: none;
  }
  .NTbx0{
    width: 100%;
    height: auto;
  }
  .NTbx0 img{
    width: 100%;
    height: auto;
    max-height: none;
  }
}

/* !================================! */

/*? /atomBx1.jsx, 2, 3, etc*/
.NT{        /* ++ */
  margin: 4px;
  /* float: left; */
  background-color: rgb(255, 255, 255);   
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  

  
  /* border: 1px solid rgba(var(--b6a,219,219,219),1);  */
  /* el problema es que suma pxs... al tamaño general */
}
.bxNT{        /* + */
  width: 256px;
  height: 360px;
  float: left;
  /* background: greenyellow; */
}

.tt{
  padding: 4px 8px 4px 8px;
  /* background: #04fef8 ; */
  /* background: #f06; */
  /* margin: 4px 4px; add 31/10/23 */
  /* border: 2px solid #34485E; */
}
.tt h1{
  font-size: 20px;
  font-family: 'qat1';
  font-weight: bold;
  /* color: rgb(79, 79, 79); */
  color: #34485E;
}
.DVimg0{
  margin-top: 8px;
}
.des{
  padding: 4px 8px 4px 8px;
}
.des p{
  /* !cortar texto con ... en renglon especifico como tope*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* font-family: 'adobe1'; */
  /* padding: 8px; */
  font-family: qat1;
  font-size: 1em;
  /* font-weight: bold; */
  color: #00000080;
}
.bxNT img{
  /* max-width: 100%; */

  /* width: 100%;
  height: auto; */

  width: auto;
  max-height: 172px;
}

