@tailwind base;
@tailwind components;
@tailwind utilities;

/* DOCUMENTO GENERAL DE DISEÑO  */

/* ESTRUCTURA */
/* 
body
  div #root                    @ @ @ @   DIV GENERAL DE LA APP /index.html 
    div .vwMain                @ @ @     DIV GENERAL CONTENEDOR PARA TODAS LAS RUTAS, OBJ DIV MULTI-ROUTE /app.jsx 
      header                   @ @       DIV GENERAL PARA TODAS LAS RUTAS, OBJ DIV MULTI-ROUTE
      div .bxGen               @ @       DIV GENERAL PARA TODAS LAS RUTAS, OBJ DIV MULTI-ROUTE
        div .bxGenHome         +|+|+|+|+ DIV GENERAL DE CADA RUTA, UNI-ROUTE  
          div .bxlocal         +|+|+|+
          div .trend           +|+|+|+
          div .bxNTall         +|+|+|+
            div .bxNTdeldia    +|+|+     
            div .bxNTvar       +|+|+
              div .NT          +|+
                div .bxNT      +
                  img .imgNT
                  div .tt
                  div .des
*/
header{
  position: fixed;
  width: 100%;
  height: 64px;
  background: rgba(var(--b3f,250,250,250),1);
}
.vwMain{        /* @@@ */
  width: 100%;
  height: auto;
}
.bxGen{       /* @@ */ 
  width: 100%;
  height: auto;  
  margin-top: 64px;
  float: left;
  /* background: rgb(241, 241, 241); */ /*x3*/
  /*background: #f4f4f4;*/ /*x2*/
}
/* !================================! */
.bxAtomStatus{
  background: purple;
  width: 320px;
  height: auto;
}
/* !================================! */
.bxlocal{       /* ++++ */
  height: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  background: greenyellow;
}
.bxlocal >div{
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/* !================================! */
.trend{       /* ++++ */
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
.trend >div{
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.trend div >img{
  max-height: 200px;
}
/* !================================! */
.bxNTall{       /* ++++ */
  width: 100%;
  height: auto;
  /* background: #f4f4f4; */
  float: left;
}
/* !================================! */
.bxNTvar{       /* +++ */
  /* max-width: 100%; */
  display: flex;
  width: 100%;
  height: auto;
  float: left;
}
/* .bxNTvar >div:hover{
  box-shadow: rgba(80, 40, 13, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.15) 0px 6px 20px 0px;
  transition: box-shadow 0.3s ease 0s;
} */
/* efecto box-shadow a todos los atomos, por searado */

.bxNTvar >div{
  box-shadow: rgba(80, 40, 13, 0.2) 0px 8px 17px 0px, rgba(0, 0, 0, 0.15) 0px 6px 20px 0px;
  transition: box-shadow 0.3s ease 0s;
}

/* !================================! */
/* !/atomBx1.jsx, 2, 3, etc*/
.NT{        /* ++ */
  margin: 4px;
  float: left;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
}
.bxNT{        /* + */
  width: 256px;
  height: 352px;
  float: left;
  background: greenyellow;
}
.bxNT >div{
  padding: 4px 8px 4px 8px;
}
.bxNT h1{
  font-size: 20px;
  font-family: 'qat1';
  font-weight: bold;
  color: rgb(79, 79, 79);
}
.bxNT p{
  font-family: 'adobe1';
  font-size: 1em;
  color: #00000080;
}
.bxNT img{
  max-width: 100%;
  height: auto;
}

/* !================================! */

/* !================================! */
/* !================================! */
/* !================================! */
/* !================================! */
/* !================================! */
/* DISEÑO ADAPTATIVO PARA OTROS DISPOSITIVOS */
@media (max-width: 700px) {
  .NT {
    width: 100%;
    
  }
  .bxNTvar{
    padding: 4px;
    align-items: center;
    flex-direction: column;/* direccion vertical de atomos en mobile */
    
  }
}
